<div *ngIf="isLoading" class="overlay d-flex justify-content-center align-items-center">
    <i class="fas fa-2x fa-sync fa-spin"></i>
</div>
<div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div id="conteudoInterno">
    <div id="avaliacao">
        <div class="row">
            <div class="col-lg-11">
                <h1>
                <img src="assets/dist/img/logoCsfx.png" alt="">
            </h1>
            </div>
            <div class="btn-group" dropdown style="margin-left: 4%;margin-top: 2%;margin-bottom: 2%;">
                <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                    <li role="menuitem">
                        <a class="dropdown-item" (click)="limpaPontos()">
                            <div class="row">
                                <div class="col-2 text-center">
                                    <i class="fas fa-eraser"></i>
                                </div>
                                <div class="col-10">
                                    Limpar</div>
                            </div>
                        </a>
                    </li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem">
                        <a class="dropdown-item" (click)="reCalculaPontos()">
                            <div class="row">
                                <div class="col-2 text-center">
                                    <i class="fas fa-redo"></i>
                                </div>
                                <div class="col-10">
                                    Recalcular
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <button dropdownToggle type="button" class="btn btn-default pull-right">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
            </div>
        </div>
        <div style="background-color: #0d539d; height: 45px;">
            <div style="margin: auto; text-align: center;">
                <h5 style="color: azure;height: 45px;padding-top: 10px;font-size: auto;">{{avaliacaoModel?.nmEtapa}} -
                    {{avaliacaoModel?.nmAreaConhecimento}} - {{avaliacaoModel?.nmSegmento}}</h5>
            </div>
        </div>
        <div style="margin:20px; margin-bottom: 0;">
            <span style="display:inline-block;width: 70%;margin-bottom: 8px;"><b>{{avaliacaoModel?.nmAvaliacaoTipo}}</b>
                -
                {{avaliacaoModel?.nmAvaliacao}}</span>
            <span style="display:inline-block;width: 30%;margin-bottom: 8px;"><b>CRITÉRIO</b> -
                {{avaliacaoModel?.dsCriterio}}</span>
            <span style="display:inline-block;width: 70%;margin-bottom: 8px;">A AVALIAÇÃO DEVERÁ SER RESPONDIDA EM
                <b> {{avaliacaoModel?.tempoAvaliacao}}</b> MINUTOS</span>
            <span style="display:inline-block;width: 30%;margin-bottom: 8px;"> <b> DATA DA
                    APLICAÇÃO</b> - {{avaliacaoModel?.dtFimAvaliacao | date: 'dd/MM/yyyy'}}</span>
        </div>
        <div style="background-color: #e3e3e3; height: 22.5px;"></div>
        <div style="margin: 20px; margin-top: 0;">
            <div class="row mt-2">
                <div class="col-8">
                    <div class="ck-content" [innerHtml]="avaliacaoModel?.regras | safeHtml">
                    </div>
                </div>
                <div class="col-4 table-responsive">
                    <table class="table table-bordered" style="text-align: right;">
                        <thead>
                            <tr>
                                <th class="text-left" scope="col">Disciplinas</th>
                                <th scope="col">Distribuído</th>
                                <th scope="col">Restantes </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let v of disciplinas">
                                <td class="text-left">{{ v.nmDisciplina | capitalizar }}</td>
                                <th scope="row">{{somatoria(v.cdDisciplina) | number:'1.2-3' }}</th>
                                <th scope="row">
                                    {{(avaliacaoModel?.notasPorDisciplina ? v.valor : avaliacaoModel?.valor ) - somatoria(v.cdDisciplina) | number:'1.2-3' }}
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <div style="background-color: #e3e3e3; height: 22.5px;"></div>
    <div class="modal-body">
        <app-questao-view *ngFor="let q of avaliacaoModel?.AvaliacaoQuestaoModel" [(vlQuestao)]="q.valor"
            [nrQuestao]="q.ordem" [editavel]="true" [questao]="q.QuestaoModel"
            [alternativas]="q.QuestaoModel?.Alternativas">
        </app-questao-view>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="close()" class="btn btn-secondary">Cancelar</button>
        <button type="submit" (click)="vincular()" class="btn btn-primary"><span class="fas fa-link"></span> Vincular
        </button>
    </div>
</div>