<div *ngIf="isLoading" class="overlay d-flex justify-content-center align-items-center">
    <i class="fas fa-2x fa-sync fa-spin"></i>
</div>
<div class="modal-header">
    <a class="btn" *ngIf="vincular.isVinculando && questao && vincular.CanIShowActionButton(questao)"
        [ngClass]="{ 'btn-primary': !vincular.hasAdd(questao), 'btn-danger': vincular.hasAdd(questao) }"
        (click)="vincular.addQuestao(questao)">
        <i class="fas" [ngClass]="{ 'fa-plus': !vincular.hasAdd(questao), 'fa-times': vincular.hasAdd(questao) }"></i>
        {{ vincular.hasAdd(questao) ? 'Remover da Avaliação' : 'Adicionar à Avaliação' }}
    </a>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <app-questao-view [questao]="questao" [tipo]="nmQuestaoTipo" [alternativas]="alternativas" readOnly="true">
    </app-questao-view>
</div>
