<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Relatório de Vendas</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Principal</a></li>
                    <li class="breadcrumb-item active">Relatórios - Vendas</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="form">
                            <div class="row">
                                <div class="form-group col-4">
                                    <label for="data">Data Início</label>
                                    <input type="text" formControlName="dateInit" mask="00/00/0000" class="form-control"
                                        [class]="(form.get('dateInit')!.invalid && (form.get('dateInit')!.dirty)) ? 'is-invalid' : ''"
                                        id="dateInit">
                                    <div *ngIf="form.get('dateInit')!.invalid && (form.get('dateInit')!.dirty)">
                                        <small class="text-danger">
                                            Este campo é requerido
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group col-4">
                                    <label for="data">Data Fim</label>
                                    <input type="text" formControlName="dateEnd" mask="00/00/0000" class="form-control"
                                        [class]="(form.get('dateEnd')!.invalid && (form.get('dateEnd')!.dirty)) ? 'is-invalid' : ''"
                                        id="dateEnd">
                                    <div *ngIf="form.get('dateEnd')!.invalid && (form.get('dateEnd')!.dirty)">
                                        <small class="text-danger">
                                            Este campo é requerido
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mb-4">
        <button class="btn col-2 offset-5 btn-primary" (click)="imprimir()">
            <i class="fas fa-print"></i>
            Imprimir Relatório
        </button>
    </div>
</div>

<div class="hidden">
    <div class="col-12 table-responsive imprimir" id="vendaDiv">
        <h1 style="text-align: center;font-size: 15px;width: 500px;margin-top: 10px;margin-bottom: 10px;">Relatório de
            Vendas - <span style="font-size: 12px!important">{{dateInit}} - {{dateEnd}}</span></h1>
        <table class="table table-striped table-bordered table-sm row-border hover table-vertical-align">
            <thead>
                <tr style="margin-bottom: 25px;">
                    <th style="width:60px!important">Código</th>
                    <th>Cliente</th>
                    <th style="width: 12%;">Data</th>
                    <th style="width: 12%;">Valor</th>
                    <th style="width: 18%;">Vendedor</th>
                </tr>
            </thead>
            <tbody *ngIf="vendas?.vendas != null || vendas?.vendas.length >= 0">
                <tr *ngFor="let v of vendas?.vendas; let i = index" style="margin-top: 25px;">
                    <td>{{ v.id }}</td>
                    <td>{{ v.cliente }}</td>
                    <td>{{ v.data | date:'dd/MM/yyyy'}}</td>
                    <td>{{ v.valorTotal | currency:'BRL' }}</td>
                    <td>{{ v.usuario }}</td>
                </tr>

            </tbody>
            <tbody *ngIf="vendas?.vendas == null || vendas?.vendas.length <= 0">
                <tr>
                    <td class="text-center" colspan="6">Nenhum registro disponível</td>
                </tr>
            </tbody>
        </table>

        <p style="text-align: right;width: 490px;font-size: 9px;" *ngIf="vendas != null"><strong>Acréscimo
                Total:</strong>
            {{ vendas.acrescimoTotal | currency:'BRL' }}</p>
        <p style="text-align: right;width: 490px;font-size: 9px;" *ngIf="vendas != null"><strong>Desconto
                Total:</strong>
            {{ vendas.descontoTotal | currency:'BRL' }}</p>
        <p style="text-align: right;width: 490px;font-size: 9px;" *ngIf="vendas != null"><strong>Frete Total:</strong>
            {{ vendas.freteTotal | currency:'BRL' }}</p>
        <p style="text-align: right;width: 490px;font-size: 9px;" *ngIf="vendas != null"><strong>Valor Total:</strong>
            {{ vendas.valorTotalTotal | currency:'BRL' }}</p>
    </div>
</div>