<div class="modal-header">
  <h3>Cadastro Item Módulo</h3>
  <button
    type="button"
    class="close pull-right"
    (click)="close()"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="form" (ngSubmit)="Salvar()">
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <div *ngIf="form.get('cdTipo').value == 2">
          <!-- Video -->
          <label class="col-form-label">Selecione um Video</label>
          <div class="row" *ngIf="videos.length == 0">
            <div class="col-12 d-flex justify-content-center">
              <div class="text-center p-1 m-2" style="width: 50%; min-width: 150px; border: 1px solid lightgray;
              border-radius: 5px;">
                Nenhum dado foi encontrado
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 table-responsive" *ngIf="videos.length > 0">
              <table
                class="table table-striped table-bordered table-sm row-border hover"
                datatable
                [dtOptions]="dtOptions"
              >
                <thead>
                  <tr>
                    <th style="width: 1px">#</th>
                    <th>Titulo</th>
                    <th>Área de conhecimento</th>
                    <th>Série</th>
                    <th>Disciplina</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let q of videos; let i = index"
                    (click)="pickVideo(q)"
                    [ngClass]="{
                      'text-success': form.get('cdVideo').value == q.cdVideo
                    }"
                  >
                    <td style="cursor: pointer">
                      {{ q.cdVideo }}
                    </td>
                    <td style="cursor: pointer">
                      {{ q.titulo | capitalizar }}
                    </td>
                    <td style="cursor: pointer">
                      {{ q.nmAreaConhecimento | capitalizar }}
                    </td>
                    <td style="cursor: pointer">
                      {{ q.nmSerie | capitalizar }}
                    </td>
                    <td style="cursor: pointer">
                      {{ q.nmDisciplina | capitalizar }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row" *ngIf="videoSel != null">
            <div class="col-12 d-flex justify-content-center">
              <div class="card card-wendell">
                <div class="card-header">
                  <h3>
                    <i class="fas fa-play-circle"></i> {{ videoSel.titulo }}
                  </h3>
                </div>
                <div class="card-body">
                  <iframe
                    [src]="videoSel.linkVideo | safeUrl"
                    class="ifram"
                    width="640"
                    height="360"
                    frameborder="0"
                    allow="autoplay; fullscreen; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
          <loading-screen></loading-screen>
        </div>
        <div *ngIf="form.get('cdTipo').value == 3">
          <!-- Avaliação -->
          <label class="col-form-label">Avaliação</label>
          <div class="row" *ngIf="avaliacoes.length == 0">
            <div class="col-12 d-flex justify-content-center">
              <div class="text-center p-1 m-2" style="width: 50%; min-width: 150px; border: 1px solid lightgray;
              border-radius: 5px;">
                Nenhum dado foi encontrado
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 table-responsive" *ngIf="avaliacoes.length > 0">
              <table
                class="table table-striped table-bordered table-sm row-border hover"
                datatable
                [dtOptions]="dtOptions"
              >
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Área de conhecimento</th>
                    <th>Tipo</th>
                    <th>Segmento</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    (click)="pickAvaliacao(q)"
                    *ngFor="let q of avaliacoes; let i = index"
                    [ngClass]="{
                      'text-success': form.get('cdAvaliacao').value == q.cdAvaliacao
                    }"
                  >
                    <td style="cursor: pointer">
                      {{ q.cdAvaliacao }}
                    </td>
                    <td style="cursor: pointer" *ngIf="!q.stRedacao">
                      {{ q.nmAvaliacao | capitalizar }}
                    </td>
                    <td style="cursor: pointer">
                      {{ q.nmAreaConhecimento | capitalizar }}
                    </td>
                    <td style="cursor: pointer">
                      {{ q.nmAvaliacaoTipo | capitalizar }}
                    </td>
                    <td style="cursor: pointer">
                      {{ q.nmSegmento | capitalizar }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div *ngIf="avaliacaoSel != null">
            <app-avaliacao-card [a]="avaliacaoSel"></app-avaliacao-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="close()" class="btn btn-secondary">
      Cancelar
    </button>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      <span class="far fa-copy"></span>Salvar
    </button>
  </div>
</form>
