
<div class="modal-header">
    <h3 class="col">Notas por Disciplina</h3>
 </div>
<div>
    <div class="modal-body">
        <table class="table table-striped" style="text-align: center !important;">
            <thead>
              <tr class="table bg-primary">
                <th scope="col">Disciplina</th>
                <th scope="col">Nota Obtida</th>              
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of notas">
                <th scope="row">{{x.nmDisciplina}}</th>
                <td>{{x.notaObtida}}</td>      
              </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="close()" class="btn btn-danger align-items-right">Fechar</button>       
    </div>
    </div>


