<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Detalhe da Venda #{{venda.id}}</h1>
            </div>
            <div class="col-sm-1 offset-5">
                <button style="outline: none;" (click)="this.modalService.dismissAll();" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i style="outline: none;" class="fas fa-times"></i>
                  </button>
            </div>
        </div>
    </div>
</section>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <form [formGroup]="form">
                            <div class="row">

                                <div class="form-group col-4">
                                    <label for="cliente">Cliente</label>
                                    <input type="text" readonly formControlName="cliente" class="form-control"
                                        id="cliente">
                                </div>

                                <div class="form-group col-4">
                                    <label for="vendedor">Vendedor</label>
                                    <input type="text" readonly formControlName="vendedor" class="form-control"
                                        id="vendedor">
                                </div>

                                <div class="form-group col-4">
                                    <label for="data">Data</label>
                                    <input type="text" mask="00/00/0000" readonly formControlName="data" class="form-control"
                                        id="data">
                                </div>

                                <div class="form-group col-4">
                                    <label for="acrescimo">Acréscimo</label>
                                    <input type="text" readonly formControlName="acrescimo" class="form-control"
                                    id="acrescimo" mask="separator.2" [thousandSeparator]="'.'"
                                    [decimalMarker]="','" [dropSpecialCharacters]="true"
                                    prefix="R$ " >
                                </div>

                                <div class="form-group col-4">
                                    <label for="desconto">Desconto</label>
                                    <input type="text" readonly formControlName="desconto" class="form-control"
                                        id="desconto" mask="separator.2" [thousandSeparator]="'.'"
                                        [decimalMarker]="','" [dropSpecialCharacters]="true"
                                        prefix="R$ " >
                                </div>

                                <div class="form-group col-4">
                                    <label for="frete">Frete</label>
                                    <input type="text" readonly formControlName="frete" class="form-control"
                                        id="frete" mask="separator.2" [thousandSeparator]="'.'"
                                        [decimalMarker]="','" [dropSpecialCharacters]="true"
                                        prefix="R$ " >
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card" *ngIf="produtosVendaGet.length > 0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 table-responsive">
                                <table
                                    class="table table-striped table-bordered table-sm row-border hover table-vertical-align">
                                    <thead>
                                        <tr>
                                            <th style="width: 1px;">Código</th>
                                            <th>Nome</th>
                                            <th>Marca</th>
                                            <th>Descrição</th>
                                            <th>Quantidade</th>
                                            <th style="width: 12%;">Valor Unitário</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let p of produtosVendaGet; let i = index">
                                            <td>{{ p.id }}</td>
                                            <td>{{ p.nome }}</td>
                                            <td>{{ p.marca }}</td>
                                            <td>{{ p.descricao }}</td>
                                            <td>{{ p.quantidade }}</td>
                                            <td>{{ p.valorUnit | currency:'BRL' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" style="text-align: right;">
                                <h4>Valor Total: {{venda.valorTotal | currency:'BRL'}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>