<div id="conteudoInterno">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="pt-2" [ngClass]="{'col-8': nrQuestao > 0, 'col-10': nrQuestao <= 0}">
                            <h3 class="card-title titulo">
                                <i class="{{ icons.get(questao?.cdQuestaoTipo) }} text-primary" style="color: #ff8b43 !important;"></i>
                                QUESTÃO {{ (nrQuestao > 0 ? (nrQuestao | number:'2.0-0'): "DO TIPO ")  }}
                                {{ nrQuestao > 0 ? "" : tipo}}</h3>
                        </div>
                        <div class="col-2" *ngIf="nrQuestao > 0">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="button" disabled class="btn btn-danger">Valor</button>
                                </div>
                                <div *ngIf="!editavel" class="form-control">
                                    {{ vlQuestao | number:'1.1-1' }}
                                </div>
                                <div *ngIf="editavel" class="form-control input-group-prepend">
                                    <input type="number" [(ngModel)]="vlQuestao" style="overflow: hidden;
                                    border: hidden !important;
                                    outline-offset: 0px;
                                    outline: -webkit-focus-ring-color auto 0px;" step="0.5" min="0.5">
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="button" disabled class="btn btn-primary" style="border-color: #00933e ; background-color: #00933e ;">#</button>
                                </div>
                                <div class="form-control">
                                    {{ questao?.cdQuestao }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <section id="Enunciado">
                        <div class="row">
                            <div class="col-12">
                                <div [innerHtml]="questao?.dsSuporte | safeHtml" class="ck-content"></div>
                            </div>
                        </div>

                        <div class="row">
                          <div class="col-12">
                              <div [innerHtml]="questao?.dsComando | safeHtml" class="ck-content"></div>
                          </div>
                      </div>
                    </section>

                    <div class="row">
                        <div class="col-12">
                            <div [ngSwitch]="questao?.cdQuestaoTipo">
                                <!-- Dissertativa -->
                                <textarea *ngSwitchCase="1" rows="4" class="form-control"></textarea>

                                <!-- V ou F -->
                                <div *ngSwitchCase="2" class="itemMultiplaEscolha">
                                    <div *ngFor="let a of alternativas; let i = index" class="row pt-1 pb-1">
                                        <div class="col-1 col-lg-1">
                                            <app-custom-flag [disabled]="true" [(ngModel)]="a.correta">
                                            </app-custom-flag>
                                        </div>
                                        <div class="col-auto lined">
                                            <div class="row mt-2" style="text-align: right;">
                                                <b style="text-align: right;"
                                                    class="text-primary pr-1 d-inline">{{ getAlternativa(i) }})</b>
                                            </div>
                                        </div>
                                        <div class="col-9 col-lg-10 lined">
                                            <div class="row mt-2">
                                                <div [innerHtml]="a.dsAlternativa1 | safeHtml"
                                                    class="ck-content d-inline">
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>

                                <!-- Múltipla escolha -->
                                <div *ngSwitchCase="3" class="itemMultiplaEscolha">
                                    <div *ngFor="let a of alternativas; let i = index" class="row mb-2">
                                        <div class="col-2 col-lg-1" style="margin-top: 1%;">
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="radioPrimary1{{i}}" [(ngModel)]="a.correta"
                                                    disabled [value]="true">
                                                <label for="radioPrimary1{{i}}">
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-auto lined">
                                            <div class="row mt-2" style="text-align: right;">
                                                <b style="text-align: right;"
                                                    class="text-primary pr-1 d-inline">{{ getAlternativa(i) }})</b>
                                            </div>
                                        </div>
                                        <div class="col-9 col-lg-10 lined">
                                            <div class="row mt-2">
                                                <div [innerHtml]="a.dsAlternativa1 | safeHtml"
                                                    class="ck-content d-inline">
                                                </div>
                                            </div>
                                        </div>

                                        <hr>
                                    </div>
                                </div>

                                <!-- Associação -->
                                <div *ngSwitchCase="4" class="itemMultiplaEscolha">
                                    <div class="row mb-3" *ngFor="let a of alternativas; let i = index">
                                        <div class="col-12 mb-2 mb-lg-0 col-lg-1">
                                            <div class="btn-group" dropdown [isDisabled]="true">
                                                <button dropdownToggle type="button"
                                                    class="btn btn-default dropdown-toggle"
                                                    aria-controls="dropdown-basic">
                                                    {{ getAlternativa(select(i)) }} <span class="caret"></span>
                                                </button>
                                                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                                    aria-labelledby="button-basic">
                                                    <li role="menuitem" *ngFor="let b of alternativas;let j = index">
                                                        <a class="dropdown-item" (click)="selected.set(i,j)">
                                                            <i
                                                                [class]="i == j ? 'text-success fas fa-check' : 'text-danger fas fa-times'"></i>
                                                            {{ getAlternativa(j) }})
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-6 col-lg-5">
                                            <!-- /btn-group -->
                                            <div [innerHtml]="a.dsAlternativa2 | safeHtml" class="ck-content">
                                            </div>
                                        </div>
                                        <div class="col-6 col-lg-6">
                                            <div class="row pr-4 pl-4">
                                                <div>
                                                    <b class="text-primary">{{ getAlternativa(i) }})</b>
                                                </div>
                                                <div style="width: 85%;">
                                                    <div [innerHtml]="a.dsAlternativa1 | safeHtml" class="ck-content">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
