.itemMultiplaEscolha .lined {
    border-bottom: 1px solid #dad2d2;
}
.text-primary {
    opacity: 0.6;
}
a {
    cursor: pointer;
}

.titulo{
    font-family: Calibri ;
    color: #8c8c8c;
    font-size: 21px;
}
