<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Duplicar Questão</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/']">Principal</a></li>
          <li class="breadcrumb-item">
            <a [routerLink]="['/questao']">Questões</a>
          </li>
          <li class="breadcrumb-item active">{{ titTela }}</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <form
      [formGroup]="cadastroQuestao"
      (ngSubmit)="Salvar(cadastroQuestao.value)"
    >
      <input type="hidden" name="cdQuestao" formControlName="cdQuestao" />
      <input type="hidden" name="cdEmpresa" formControlName="cdEmpresa" />
      <input type="hidden" name="stRedacao" formControlName="stRedacao" />

      <div class="row">
        <div class="col-12">
          <div class="card card-daniel">
            <div class="card-header"><i class="fas fa-edit"></i> Dados</div>
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-lg-4">
                  <div class="form-group">
                    <label class="col-form-label" for="cdSerie">Série</label>
                    <ng-select
                      formControlName="cdSerie"
                      [items]="series"
                      bindValue="cdSerie"
                      bindLabel="nmSerie"
                    >
                    </ng-select>
                  </div>
                </div>
                <div class="col-12 col-lg-3">
                  <label class="col-form-label" for="ano"
                    >Ano</label>
                    <input
                    type="text"
                    class="form-control"
                    formControlName="ano"
                    placeholder="Digite o ano aqui"
                  />
                </div>
                <div class="col-12 col-lg-5">
                  <label class="col-form-label" for="cdOrigem"
                    >Origem</label
                  >
                  <ng-select
                    formControlName="cdOrigem"
                    [items]="origens"
                    bindValue="cdOrigem"
                    bindLabel="nmOrigem"
                  >
                  </ng-select>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-4">
                  <div class="form-group">
                    <div class="form-group">
                      <label class="col-form-label" for="cdAreaConhecimento"
                        >Area de Conhecimento</label
                      >
                      <ng-select
                        formControlName="cdAreaConhecimento"
                        [items]="areasConhecimento"
                        bindValue="cdAreaConhecimento"
                        bindLabel="nmAreaConhecimento"
                      >
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4">
                  <div class="form-group">
                    <div class="form-group">
                      <label class="col-form-label" for="cdDisciplina"
                        >Disciplina</label
                      >
                      <ng-select
                        formControlName="cdDisciplina"
                        [items]="disciplinas"
                        bindValue="cdDisciplina"
                        bindLabel="nmDisciplina"
                      >
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4">
                  <div class="form-group">
                    <div class="form-group">
                      <label class="col-form-label" for="cdProfessor"
                        >Professor</label
                      >
                      <ng-select
                        formControlName="cdProfessorResponsavel"
                        [items]="professores"
                        bindValue="cdProfessor"
                        bindLabel="nmProfessor"
                      >
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-4">
                  <div class="form-group">
                    <label class="col-form-label" for="cdTopico">Tópico</label>
                    <ng-select
                      formControlName="cdTopico"
                      [multiple]="true"
                      [items]="topicos"
                      bindValue="cdTopico"
                      bindLabel="nmTopico"
                    >
                    </ng-select>
                  </div>
                </div>
                <div class="col-12 col-lg-4">
                  <div class="form-group">
                    <label class="col-form-label" for="cdSubTopico"
                      >Sub Tópico</label
                    >
                    <ng-select
                      formControlName="cdSubTopico"
                      [multiple]="true"
                      [items]="subTopicos"
                      bindValue="cdSubTopico"
                      bindLabel="nmSubTopico"
                    >
                    </ng-select>
                  </div>
                </div>
                <div class="col-12 col-lg-4">
                  <div class="form-group">
                    <label class="col-form-label" for="cdHabilidade"
                      >Habilidade</label
                    >
                    <ng-select
                      formControlName="cdHabilidade"
                      [items]="habilidades"
                      bindValue="cdHabilidade"
                      bindLabel="nmHabilidade"
                    ></ng-select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-4">
                  <label class="col-form-label" for="cdCompetencia"
                    >Competência</label
                  >
                  <ng-select
                    formControlName="cdCompetencia"
                    [items]="competencias"
                    bindValue="cdCompetencia"
                    bindLabel="nmCompetencia"
                  >
                  </ng-select>
                </div>
                <div class="col-12 col-lg-3">
                  <label class="col-form-label" for="cdDificuldade"
                    >Dificuldade</label
                  >
                  <ng-select
                    formControlName="cdDificuldade"
                    [items]="dificuldades"
                    bindValue="cdDificuldade"
                    bindLabel="nmDificuldade"
                  >
                  </ng-select>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-9">
                  <label class="col-form-label" for="comentario"
                    >Comentário Geral</label>
                    <textarea
                    type="text"
                    class="form-control"
                    formControlName="comentario"
                    placeholder="Digite o comentário aqui"
                    style="font-size: 1em !important;"
                  ></textarea>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Alternativas e Enunciado -->
      <div class="row" *ngIf="ready">
        <div class="col-12">
          <div class="card card-daniel card-tabs">
            <input
              type="hidden"
              name="cdQuestaoTipo"
              formControlName="cdQuestaoTipo"
            />
            <div class="card-header p-0 pt-1">
              <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                <li class="nav-item" *ngFor="let t of tiposQuestao">
                  <a
                    [ngClass]="{
                      active:
                        t.cdQuestaoTipo === cdQuestaoTipo &&
                        cadastroQuestao.controls.stRedacao.value === t.stRedacao
                    }"
                    class="nav-link"
                    (click)="setTipoQuestao(t)"
                    role="tab"
                    >{{ t.nmQuestaoTipo | capitalizar }}</a
                  >
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content" [ngSwitch]="cdQuestaoTipo">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-6">
                          <label for="dsSuporte" class="col-form-label"
                            >Suporte</label
                          >
                        </div>
                        <input
                          type="hidden"
                          name="stRedacao"
                          formControlName="stRedacao"
                        />
                      </div>
                      <ckeditor [editor]="editor" formControlName="dsSuporte">
                      </ckeditor>
                    </div>
                    <div
                      class="alert alert-danger"
                      *ngIf="
                        cadastroQuestao.controls.dsSuporte.invalid &&
                        cadastroQuestao.controls.dsSuporte.dirty &&
                        !cadastroQuestao.controls.dsSuporte.untouched
                      "
                    >
                      <h5><i class="icon fas fa-ban"></i> Alerta!</h5>
                      É necessário preencher o suporte da questão antes de
                      prosseguir
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-6">
                          <label for="dsComando" class="col-form-label"
                            >Comando</label
                          >
                        </div>
                        <input
                          type="hidden"
                          name="stRedacao"
                          formControlName="stRedacao"
                        />
                      </div>
                      <ckeditor [editor]="editor" formControlName="dsComando">
                      </ckeditor>
                    </div>
                    <div
                      class="alert alert-danger"
                      *ngIf="
                        cadastroQuestao.controls.dsComando.invalid &&
                        cadastroQuestao.controls.dsComando.dirty &&
                        !cadastroQuestao.controls.dsComando.untouched
                      "
                    >
                      <h5><i class="icon fas fa-ban"></i> Alerta!</h5>
                      É necessário preencher o comando da questão antes de
                      prosseguir
                    </div>
                  </div>
                </div>

                <!-- V ou F -->
                <div
                  @list
                  class="tab-pane fade show active"
                  role="tabpanel"
                  *ngSwitchCase="2"
                >
                  <label>Alternativas</label>
                  <ng-container FormArrayName="Alternativas">
                    <div
                      @items
                      class="row mt-2 mb-2"
                      *ngFor="let a of Alternativas.controls; index as i"
                      [formGroup]="a"
                    >
                      <input
                        type="hidden"
                        name="cdQuestao"
                        formControlName="cdQuestao"
                      />
                      <input
                        type="hidden"
                        name="cdQuestaoAlternativa"
                        formControlName="cdQuestaoAlternativa"
                      />
                      <input
                        type="hidden"
                        name="imgAlternativa1"
                        formControlName="imgAlternativa1"
                      />
                      <div class="col-2 col-lg-1">
                        <app-custom-flag
                          formControlName="correta"
                        ></app-custom-flag>
                      </div>
                      <div class="col-8 col-lg-10">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="dsAlternativa1"
                          placeholder="Texto da alternativa"
                          (keyup)="dsAlternativaChange(i)"
                          *ngIf="!a.controls.imgAlternativa1.value; else Editor"
                        />
                        <ng-template #Editor>
                          <ckeditor
                            [editor]="editor"
                            formControlName="dsAlternativa1"
                            (change)="dsAlternativaChange(i)"
                          >
                          </ckeditor>
                          <div
                            class="alert alert-danger mt-2"
                            *ngIf="
                              a.controls.dsAlternativa1.invalid &&
                              a.controls.dsAlternativa1.dirty &&
                              !a.controls.dsAlternativa1.untouched
                            "
                          >
                            <h5><i class="icon fas fa-ban"></i> Alerta!</h5>
                            É necessário preencher o texto da alternativa
                          </div>
                        </ng-template>
                      </div>
                      <div class="col-2 col-lg-1">
                        <div class="row">
                          <div class="col-12 col-lg-4">
                            <a
                              [ngClass]="{
                                'text-primary': a.controls.imgAlternativa1.value
                              }"
                              (click)="changeEditorType(i)"
                            >
                              <i class="fa fa-edit"></i>
                            </a>
                          </div>
                          <div class="col-12 pl-0 pl-lg-2 col-lg-4">
                            <a
                              *ngIf="i !== 0 && i !== Alternativas.length - 1"
                              class="ml-2 text-danger"
                              tooltip="Remover alternativa"
                              (click)="Alternativas.removeAt(i)"
                            >
                              <i class="fas fa-trash"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>

                <!-- Múltipla escolha -->
                <div
                  @list
                  class="tab-pane fade show active"
                  role="tabpanel"
                  *ngSwitchCase="3"
                >
                  <label>Alternativas</label>
                  <ng-container @list FormArrayName="Alternativas">
                    <div
                      @items
                      class="row mt-2 mb-2"
                      *ngFor="let a of Alternativas.controls; index as i"
                      [formGroup]="a"
                    >
                      <input
                        type="hidden"
                        name="cdQuestao"
                        formControlName="cdQuestao"
                      />
                      <input
                        type="hidden"
                        name="cdQuestaoAlternativa"
                        formControlName="cdQuestaoAlternativa"
                      />
                      <input
                        type="hidden"
                        name="imgAlternativa1"
                        formControlName="imgAlternativa1"
                      />
                      <div class="col-12 col-lg-2 pt-2">
                        <div class="form-group clearfix">
                          <div class="icheck-primary d-inline">
                            <input
                              type="radio"
                              id="radioPrimary1{{ i }}"
                              formControlName="correta"
                              [value]="true"
                            />
                            <label for="radioPrimary1{{ i }}"> </label>
                          </div>
                          <div class="icheck-danger d-inline">
                            <input
                              type="radio"
                              id="radioPrimary2{{ i }}"
                              formControlName="correta"
                              [value]="false"
                            />
                            <label for="radioPrimary2{{ i }}">
                              {{
                                a.controls.correta.value
                                  ? "Correta"
                                  : "Incorreta"
                              }}
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-10 mb-3 mb-lg-0 mt-1 mt-lg-0 col-lg-9">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="dsAlternativa1"
                          placeholder="Texto da alternativa"
                          (keyup)="dsAlternativaChange(i)"
                          *ngIf="!a.controls.imgAlternativa1.value; else Editor"
                        />
                        <ng-template #Editor>
                          <ckeditor
                            [editor]="editor"
                            formControlName="dsAlternativa1"
                            (change)="dsAlternativaChange(i)"
                          >
                          </ckeditor>
                          <div
                            class="alert alert-danger mt-2"
                            *ngIf="
                              a.controls.dsAlternativa1.invalid &&
                              a.controls.dsAlternativa1.dirty &&
                              !a.controls.dsAlternativa1.untouched
                            "
                          >
                            <h5><i class="icon fas fa-ban"></i> Alerta!</h5>
                            É necessário preencher o texto da alternativa
                          </div>
                        </ng-template>
                      </div>
                      <div class="col-2 mt-1 mt-lg-0 col-lg-1">
                        <div class="row">
                          <div class="col-12 col-lg-4">
                            <a
                              [ngClass]="{
                                'text-primary': a.controls.imgAlternativa1.value
                              }"
                              (click)="changeEditorType(i)"
                            >
                              <i class="fa fa-edit"></i>
                            </a>
                          </div>
                          <div class="col-12 pl-0 pl-lg-2 col-lg-4">
                            <a
                              *ngIf="i !== 0 && i !== Alternativas.length - 1"
                              class="ml-2 text-danger"
                              tooltip="Remover alternativa"
                              (click)="Alternativas.removeAt(i)"
                            >
                              <i class="fas fa-trash"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <div
                    class="alert alert-danger"
                    *ngIf="
                      Alternativas.hasError('correta') &&
                      Alternativas.dirty &&
                      !Alternativas.untouched
                    "
                  >
                    É necessário selecionar ao menos uma alternativa como
                    correta!
                  </div>
                </div>

                <!-- Associação -->
                <div
                  @list
                  class="tab-pane fade show active"
                  role="tabpanel"
                  *ngSwitchCase="4"
                >
                  <label>Alternativas</label>
                  <ng-container FormArrayName="Alternativas">
                    <div
                      @items
                      class="row mt-2 mb-2"
                      *ngFor="let a of Alternativas.controls; index as i"
                      [formGroup]="a"
                    >
                      <input
                        type="hidden"
                        name="cdQuestao"
                        formControlName="cdQuestao"
                      />
                      <input
                        type="hidden"
                        name="cdQuestaoAlternativa"
                        formControlName="cdQuestaoAlternativa"
                      />
                      <input
                        type="hidden"
                        name="imgAlternativa1"
                        formControlName="imgAlternativa1"
                      />
                      <input
                        type="hidden"
                        name="imgAlternativa2"
                        formControlName="imgAlternativa2"
                      />
                      <input
                        type="hidden"
                        name="correta"
                        formControlName="correta"
                      />
                      <div class="pr-0 col-11 col-lg-5">
                        <div class="form-group">
                          <label>Coluna 1</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="dsAlternativa1"
                            placeholder="Texto da alternativa"
                            (keyup)="dsAlternativaChange(i)"
                            *ngIf="
                              !a.controls.imgAlternativa1.value;
                              else Editor
                            "
                          />
                          <ng-template #Editor>
                            <ckeditor
                              [editor]="editor"
                              formControlName="dsAlternativa1"
                              (change)="dsAlternativaChange(i)"
                            >
                            </ckeditor>
                            <div
                              class="alert alert-danger mt-2"
                              *ngIf="
                                a.controls.dsAlternativa1.invalid &&
                                a.controls.dsAlternativa1.dirty &&
                                !a.controls.dsAlternativa1.untouched
                              "
                            >
                              <h5><i class="icon fas fa-ban"></i> Alerta!</h5>
                              É necessário preencher o texto da alternativa
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <div
                        class="pl-0 pr-0 mt-4 col-1 col-lg-1 pt-2 text-center"
                      >
                        <a
                          [ngClass]="{
                            'text-primary': a.controls.imgAlternativa1.value
                          }"
                          (click)="changeEditorType(i)"
                        >
                          <i class="fa fa-edit"></i>
                        </a>
                      </div>
                      <div class="pl-0 col-11 col-lg-5">
                        <div class="form-group">
                          <label>Coluna 2</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="dsAlternativa2"
                            placeholder="Texto da alternativa"
                            (keyup)="dsAlternativaChange(i)"
                            *ngIf="
                              !a.controls.imgAlternativa2.value;
                              else Editor2
                            "
                          />
                          <ng-template #Editor2>
                            <ckeditor
                              [editor]="editor"
                              formControlName="dsAlternativa2"
                              (change)="dsAlternativaChange(i)"
                            >
                            </ckeditor>
                            <div
                              class="alert alert-danger mt-2"
                              *ngIf="
                                a.controls.dsAlternativa2.invalid &&
                                a.controls.dsAlternativa2.dirty &&
                                !a.controls.dsAlternativa2.untouched
                              "
                            >
                              <h5><i class="icon fas fa-ban"></i> Alerta!</h5>
                              É necessário preencher o texto da alternativa
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <div class="col-1 col-lg-1 pt-2 mt-4">
                        <div class="row">
                          <div class="col-12 col-lg-4">
                            <a
                              [ngClass]="{
                                'text-primary': a.controls.imgAlternativa1.value
                              }"
                              (click)="changeEditor2Type(i)"
                            >
                              <i class="fa fa-edit"></i>
                            </a>
                          </div>
                          <div class="col-12 pl-0 pl-lg-2 col-lg-4">
                            <a
                              *ngIf="i !== 0 && i !== Alternativas.length - 1"
                              class="ml-2 text-danger"
                              tooltip="Remover alternativa"
                              (click)="Alternativas.removeAt(i)"
                            >
                              <i class="fas fa-trash"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12 text-center">
          <button type="submit" [disabled]="isSaving" class="btn btn-primary">
            {{ isSaving ? "..." : "Salvar" }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
