<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Acesso não autorizado</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/']">Principal</a></li>
          <li class="breadcrumb-item active">Acesso não autorizado</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="error-page">
    <h2 class="headline text-warning"> 401</h2>

    <div class="error-content">
      <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Acesso não autorizado.</h3>

      <p>
        Parece que você não tem permissão a este serviço
        Você pode retornar para a <a [routerLink]="['/']">página principal</a> ou entrar em contato com o administrador
        do sistema
        <!-- ou tentar pesquisar abaixo. -->
      </p>

    </div>
    <!-- /.error-content -->
  </div>
  <!-- /.error-page -->
</section>
<!-- /.content -->
