<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cadastro de Usuários</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Principal</a></li>
                    <li class="breadcrumb-item active">Usuários</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12 mb-3">

                            <a [routerLink]="['/usuario/0']" class="btn col-2 offset-10 btn-primary">
                                <i class="fas fa-plus"></i>
                                Novo Usuário
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-12 table-responsive">
                                <table class="table table-striped table-bordered table-sm row-border hover table-vertical-align">
                                    <thead>
                                        <tr>
                                            <th style="width: 1px;">Ações</th>
                                            <th style="width: 1px;">Código</th>
                                            <th>Login</th>
                                            <th>Nome</th>
                                            <th>Cpf</th>
                                            <th>Telefone</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let u of usuarios; let i = index">
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                                        id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        Ações
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                        <a class="dropdown-item" [routerLink]="['/usuario', u.id]">
                                                            <div class="row">
                                                                <div class="col-2 text-center">
                                                                    <i class="fas fa-edit"></i>
                                                                </div>
                                                                <div class="col-10">
                                                                    Editar</div>
                                                            </div>
                                                        </a>
                                                        <a class="dropdown-item" (click)="trocaSenha(u)">
                                                            <div class="row">
                                                                <div class="col-2 text-center">
                                                                    <i class="fas fa-lock"></i>
                                                                </div>
                                                                <div class="col-10">
                                                                    Trocar Senha</div>
                                                            </div>
                                                        </a>
                                                        <a class="dropdown-item" (click)="excluirUsuario(u.id)">
                                                            <div class="row">
                                                                <div class="col-2 text-center text-danger">
                                                                    <i class="fas fa-trash"></i>
                                                                </div>
                                                                <div class="col-10">
                                                                    Excluir
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{ u.id }}</td>
                                            <td>{{ u.login }}</td>
                                            <td [class]="u.pessoa.nome || 'text-center'">{{ u.pessoa.nome || '-'}}</td>
                                            <td [class]="u.pessoa.cpf || 'text-center'">{{ (u.pessoa.cpf | mask: '000.000.000-00') || '-' }}</td>
                                            <td [class]="u.pessoa.telefone || 'text-center'">{{ (u.pessoa.telefone | mask:'(00) 00000-0000') || '-'}}</td>
                                            <td [class]="u.pessoa.email || 'text-center'">{{ u.pessoa.email || '-' }}</td>
                                        </tr>
                                        <tr *ngIf="!usuarios || usuarios.length <= 0">
                                            <td class="text-center" colspan="6">Nenhum registro disponível</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>