<div class="limiter">
	<div class="container-login100" style="background-image: url('assets/dist/img/bg-01.jpg');">
		<div class="wrap-login100">
			<form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="logar()">
				<span class="login100-form-logo">
					<i class="zmdi zmdi-dropbox"></i>
				</span>

				<span class="login100-form-title p-b-34 p-t-27">
					ProStock
				</span>

				<div class="wrap-input100 validate-input">
					<input class="input100 form-control" type="text" formControlName="login" name="login" placeholder="Usuário">
					<span class="focus-input100" data-placeholder="&#xf207;"></span>
				</div>

				<div class="wrap-input100 validate-input">
					<input class="input100 form-control" type="password" formControlName="senha" name="senha" placeholder="Senha">
					<span class="focus-input100" data-placeholder="&#xf191;"></span>
				</div>

				<div class="contact100-form-checkbox">
					<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
					<label class="label-checkbox100" for="ckb1">
						Lembrar senha
					</label>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit" [disabled]="!loginForm.valid">
						Login
					</button>
				</div>

				<div class="text-center p-t-90">
					<a class="txt1" href="#">
						Esqueceu sua senha?
					</a>
				</div>
			</form>
		</div>
	</div>
</div>