<div class="bg-orang">
  <div class="main-box">
    <form [formGroup]="form" (ngSubmit)="submit(form.value)">
      <div class="text-center">
        <img src="assets/dist/img/logo.png" />
      </div>
      <div class="col-12">
        <label for="senha">Senha</label>
        <input
          type="password"
          name="senha"
          class="form-control col-12"
          formControlName="senha"
          placeholder="Senha"
        />
      </div>
      <ng-container
        *ngIf="
          (form.get('senha').invalid &&
            form.get('senha').touched &&
            form.get('senha').dirty) ||
          contains('teste')
        "
      >
        <div class="col-12">
          <span
            class="text-danger"
            *ngIf="
              form.get('senha').invalid &&
              form.get('senha').touched &&
              form.get('senha').dirty
            "
            >Este campo é obrigatório!</span
          >
        </div>
      </ng-container>
      <div class="col-12">
        <label for="confirm">Confirmar Senha</label>
        <input
          type="password"
          name="confirm"
          class="form-control col-12"
          formControlName="confirm"
          placeholder="Confirmar Senha"
        />
      </div>
      <ng-container
        *ngIf="
          (form.get('confirm').invalid &&
            form.get('confirm').touched &&
            form.get('confirm').dirty) "
      >
        <div class="col-12">
          <span
            class="text-danger"
            *ngIf="
              form.get('confirm').invalid &&
              form.get('confirm').touched &&
              form.get('confirm').dirty
            "
            >Este campo é obrigatório!</span >
          <span class="text-danger" *ngIf="form.hasError('noMatch')"> As senhas não estão iguais! </span>
        </div>
      </ng-container>
      <div class="col-12 pt-4">
      <button type="submit" class="btn btn-block btn-primary" [disabled]="form.invalid">
        Trocar
      </button>
      </div>
    </form>
  </div>
</div>
