<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark" #fullContent>

    <div *ngIf="avaliacao; else nobind"
        class="p-3 control-sidebar-content os-host os-theme-light os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-overflow os-host-overflow-y os-host-transition">
        <div class="os-padding">
            <div class="os-viewport os-viewport-native-scrollbars-invisible">
                <div class="os-content">
                    <div #AvaliacaoHeader>
                        <div class="row">
                            <div class="col-9">
                                <h6>
                                    VINCULAÇÃO DE QUESTÕES EM UMA AVALIAÇÃO
                                </h6>
                            </div>
                            <div class="col-3 text-right">
                                <a tooltip="Atualizar dados da avaliação" placement="bottom" (click)="reload()">
                                    <i class="fas fa-sync" style="font-size: 20px;"></i>
                                </a>
                                <a tooltip="Buscar questões" placement="bottom" class="ml-2"
                                    [routerLink]="['/questao']">
                                    <i class="fas fa-edit" style="font-size: 20px;"></i>
                                </a>
                                <a tooltip="Visualizar resultado" placement="bottom"
                                    (click)="visualizarAvaliacaoQuestoes()" class="ml-2">
                                    <i class="fas fa-file-invoice" style="font-size: 20px;"></i>
                                </a>
                            </div>
                        </div>
                        <hr class="mb-2">
                        <div class="row">
                            <div class="col-12">
                                <div class="small-box bg-light">
                                    <div class="overlay dark" *ngIf="isLoading">
                                        <i class="fas fa-3x fa-sync-alt"></i>
                                    </div>
                                    <div class="inner">
                                        <div class="row">
                                            <div class="col-6">
                                                <b>#{{ avaliacao.cdAvaliacao }}</b>
                                            </div>
                                            <div class="col-6 text-right">
                                                {{ avaliacao.nmAvaliacaoTipo }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <span>{{ avaliacao.nmAvaliacao }}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <span>{{ avaliacao.nmAreaConhecimento | capitalizar }}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 text-right">
                                                {{ avaliacao.nmEtapa }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <a (click)="cancelar()" class="btn btn-danger">
                                    Cancelar vinculações
                                </a>
                            </div>
                        </div>
                        <hr class="mb-1">
                    </div>
                    <div class="scrollbar" id="style-1" #scrollableContent>
                        <div class="force-overflow" cdkDropList (cdkDropListDropped)="drop($event)">
                            <div class="row" *ngFor="let q of questoes" cdkDrag>
                                <div class="col-12 pr-1">
                                    <div class="info-box mb-1"
                                        tooltip="Clique para visualizar ou arraste para alterar a posição"
                                        (click)="visualizarQuestao(q.QuestaoModel)">
                                        <span [class]="'info-box-icon ' + getClass(q)"><i
                                                [class]="icons.get(q.QuestaoModel.cdQuestaoTipo)"></i></span>

                                        <div class="info-box-content">
                                            <div class="row">
                                                <div class="col-6">
                                                    #{{ q.QuestaoModel.cdQuestao }}
                                                </div>
                                                <div class="col-6 text-right">
                                                    {{ q.QuestaoModel.nmQuestaoTipo | capitalizar }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    {{ q.QuestaoModel.nmDisciplina | capitalizar }}
                                                </div>
                                                <div class="col-6 text-right">
                                                    {{ q.valor | number:'1.1-1' }}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-1 mt-2" *ngIf="questoes?.length > 0">
                            <div class="row nobind" *ngIf="questoes?.length > 0">
                                <div class="col-12">
                                    <p class="text-center">
                                        Para salvar suas vinculações clique em
                                        <a (click)="visualizarAvaliacaoQuestoes()">
                                            <i class="fas fa-file-invoice"></i>
                                            Visualizar Resultado
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #nobind>
        <div class="os-padding">
            <div class="os-viewport os-viewport-native-scrollbars-invisible">
                <div class="os-content">
                    <div class="row">
                        <div class="col-12 p-5 nobind">
                            <h6>
                                <i class="fas fa-exclamation-triangle"></i>
                                Nenhuma vinculação de questão em andamento no momento
                            </h6>
                            <hr class="mb-3">
                            <p>
                                Para iniciar uma vinculação de questão, vá em
                                <a [routerLink]="['/avaliacao']">
                                    <i class="fas fa-book-open"></i>
                                    Cadastro de Avaliações
                                </a>
                                e selecione a opção
                                <b>
                                    <i class="fas fa-question-circle"></i> Vincular Questão
                                </b>
                                em
                                <span class="btn btn-sm btn-default d-inline">
                                    Ações
                                    <i class="fas fa-caret-down"></i>
                                </span>
                                de uma avaliação.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

</aside>
<!-- /.control-sidebar -->
