<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cadastro de Vendas</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Principal</a></li>
                    <li class="breadcrumb-item active">Vendas - Cadastro</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <form [formGroup]="form">
                            <div class="row">

                                <div class="form-group col-4">
                                    <label for="clienteId">Cliente</label>
                                    <ng-select formControlName="clienteId"
                                        [class]="(form.get('clienteId')!.invalid && (form.get('clienteId')!.dirty || form.get('clienteId')!.touched)) ? 'is-invalid' : ''"
                                        id="clienteId" required [items]="clientes" bindLabel="name"
                                        placeholder="Selecione um cliente" appendTo="body" [multiple]="false"
                                        [clearable]="false" class="col-12" style="padding: 0;">
                                    </ng-select>
                                    <div
                                        *ngIf="form.get('clienteId')!.invalid && (form.get('clienteId')!.dirty || form.get('clienteId')!.touched)">
                                        <small class="text-danger">
                                            Este campo é requerido
                                        </small>
                                    </div>
                                </div>

                                <!-- <div class="form-group col-8">
                                    <label for="descricao">Descrição</label>
                                    <input type="text" formControlName="descricao" class="form-control"
                                        [class]="(form.get('descricao')!.invalid && (form.get('descricao')!.dirty || form.get('descricao')!.touched)) ? 'is-invalid' : ''"
                                        id="descricao" required>
                                    <div
                                        *ngIf="form.get('descricao')!.invalid && (form.get('descricao')!.dirty || form.get('descricao')!.touched)">
                                        <small class="text-danger">
                                            Este campo é requerido
                                        </small>
                                    </div>
                                </div> -->

                                <div class="form-group col-4">
                                    <label for="data">Data</label>
                                    <input type="text" formControlName="data" class="form-control"
                                        [class]="(form.get('data')!.invalid && (form.get('data')!.dirty)) ? 'is-invalid' : ''"
                                        id="data">
                                    <div
                                        *ngIf="form.get('data')!.invalid && (form.get('data')!.dirty)">
                                        <small class="text-danger">
                                            Este campo é requerido
                                        </small>
                                    </div>
                                </div>
                                
                                <div class="form-group col-4">
                                    <label for="frete">Frete</label>
                                    <input type="number" formControlName="frete" class="form-control" (change)="calcTtl()"
                                        [class]="(form.get('frete')!.invalid && (form.get('frete')!.dirty)) ? 'is-invalid' : ''"
                                        id="frete">
                                    <div
                                        *ngIf="form.get('frete')!.invalid && (form.get('frete')!.dirty)">
                                        <small class="text-danger">
                                            Este campo é requerido
                                        </small>
                                    </div>
                                </div>

                                <div class="form-group col-4">
                                    <label for="acrescimo">Acréscimo</label>
                                    <input type="number" formControlName="acrescimo" class="form-control" (change)="calcTtl()"
                                        [class]="(form.get('acrescimo')!.invalid && (form.get('acrescimo')!.dirty)) ? 'is-invalid' : ''"
                                        id="acrescimo">
                                    <div
                                        *ngIf="form.get('acrescimo')!.invalid && (form.get('acrescimo')!.dirty)">
                                        <small class="text-danger">
                                            Este campo é requerido
                                        </small>
                                    </div>
                                </div>

                                <div class="form-group col-4">
                                    <label for="desconto">Desconto</label>
                                    <input type="number" formControlName="desconto" class="form-control" (change)="calcTtl()"
                                        [class]="(form.get('desconto')!.invalid && (form.get('desconto')!.dirty)) ? 'is-invalid' : ''"
                                        id="desconto">
                                    <div
                                        *ngIf="form.get('desconto')!.invalid && (form.get('desconto')!.dirty)">
                                        <small class="text-danger">
                                            Este campo é requerido
                                        </small>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <form [formGroup]="formProduto" (ngSubmit)="adicionarProduto()">
                            <div class="row">
                                <div class="form-group col-4">
                                    <label for="produto">Produto</label>
                                    <ng-select formControlName="produtoId"
                                        [class]="(formProduto.get('produtoId')!.invalid && (formProduto.get('produtoId')!.dirty || formProduto.get('produtoId')!.touched)) ? 'is-invalid' : ''"
                                        id="produtoId" required [items]="prods" bindLabel="name"
                                        placeholder="Selecione um produto" appendTo="body" [multiple]="false"
                                        [clearable]="false" class="col-12" style="padding: 0;">
                                    </ng-select>
                                    <div
                                        *ngIf="formProduto.get('produtoId')!.invalid && (formProduto.get('produtoId')!.dirty || formProduto.get('produtoId')!.touched)">
                                        <small class="text-danger">
                                            Este campo é requerido
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group col-2">
                                    <label for="quantidade">Quantidade</label>
                                    <input type="text" formControlName="quantidade" class="form-control"
                                        [class]="(formProduto.get('quantidade')!.invalid && (formProduto.get('quantidade')!.dirty || formProduto.get('quantidade')!.touched)) ? 'is-invalid' : ''"
                                        id="quantidade" required>
                                    <div
                                        *ngIf="formProduto.get('quantidade')!.invalid && (formProduto.get('quantidade')!.dirty || formProduto.get('quantidade')!.touched)">
                                        <small class="text-danger">
                                            Este campo é requerido
                                        </small>
                                    </div>
                                </div>
                                <div class="col-2 text-left" style="margin-top: 31px;">
                                    <button type="submit" class="btn btn-primary">Adicionar</button>
                                </div>
                                <div class="col-3 offset-1 text-right" style="margin-top: 31px;">
                                    <h3>Total: {{this.vlTotal | currency:'BRL'}}</h3>
                                </div>
                            </div>

                        </form>

                        <div class="row">
                            <div class="col-12 table-responsive" *ngIf="produtosVenda.length > 0">
                                <table
                                    class="table table-striped table-bordered table-sm row-border hover table-vertical-align">
                                    <thead>
                                        <tr>
                                            <th style="width: 1px;">Código</th>
                                            <th>Nome</th>
                                            <th>Marca</th>
                                            <th>Descrição</th>
                                            <th style="width: 12%;">Quantidade</th>
                                            <th style="width: 12%;">Valor Unitário</th>
                                            <th style="width: 1px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let p of produtosVenda; let i = index">
                                            <td>{{ p.produto.id }}</td>
                                            <td>{{ p.produto.nome }}</td>
                                            <td>{{ p.produto.marca }}</td>
                                            <td>{{ p.produto.descricao }}</td>
                                            <td>{{ p.quantidade }}</td>
                                            <td>{{ p.produto.valorUnit | currency:'BRL' }}</td>
                                            <td><i (click)="removerProd(i)" class="far fa-trash-alt text-danger cursor"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center mb-4">
            <button type="button" (click)="salvar()" class="btn btn-primary">Salvar</button>
        </div>
    </div>
</div>