<div *ngIf="isLoading" class="overlay d-flex justify-content-center align-items-center">
    <i class="fas fa-2x fa-sync fa-spin"></i>
</div>
<div class="modal-header">
    <h3>Duplicar Avaliação</h3>
    <button type="button" class="close pull-right" (click)="close()" aria-label="Close" >
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form [formGroup]="duplicar" (ngSubmit)="confirm(duplicar.value)">
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <label>Avaliação Atual</label>
                <div class="form-control" disabled>
                    {{ avaliacao?.nmAvaliacao }}
                </div>
                <!-- <input id="atual"
                        class="form-control" name="text" disabled [ngModel]="avaliacao?.nmAvaliacao"> -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label>Avaliação Nova</label>
                <input id="nova"
                        class="form-control" name="text" formControlName="nmAvalNova"
                        placeholder="Digite o nome da nova avaliação">
            </div>
        </div>
        <div class="row">
            <div class="col-6 mt-2">
                <div class="icheck-primary d-inline">
                    <input type="checkbox" id="rquestao" formControlName="randomizarQuestoes">
                    <!-- NOT WORKING - verificar caso for retornar essa função -->
                    <label for="rquestao">
                        Randomizar questões
                    </label>
                </div>
            </div>
            <div class="col-6 mt-2 text-right">
                <div class="icheck-primary d-inline">
                    <input type="checkbox" id="randomizar"
                        formControlName="randomizarAlternativas">
                    <!-- NOT WORKING - verificar caso for retornar essa função -->
                    <label for="randomizar">
                        Randomizar alternativas
                    </label> 
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="close()" class="btn btn-secondary">Cancelar</button>
        <button type="submit" class="btn btn-primary"><span class="far fa-copy"></span>Duplicar </button>
    </div>
</form>