.hold-transition.login-page{
    background: url('../../assets/dist/img/fundo.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

}

.form-control{
    font-size:13px
}
.link{
  color:#42af70;
}
.link:hover{
  color:#1a7741;
  text-decoration: underline;
}
input{
    height: 31px !important;
    border-right: 1px solid #ced4da !important;
}

select{
    height: 31px !important;
    border-right: 1px solid #ced4da !important;

}
