<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Relatório de Monitoramento das Avaliações</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Principal</a></li>
                    <li class="breadcrumb-item active">Relatório de Monitoramento das Avaliações</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-12">
        <div class="card card-daniel">
            <!-- <div class="card-header">
                <i class="fas fa-edit"></i> Dados da Avaliação
            </div> -->
            <div class="card-body">
                <form [formGroup]="pesquisar" class="col-12">
                    <div class="row">
                        <div class="col-6 ">
                            <label>Disciplina</label>
                            <ng-select formControlName="cdDisciplina" [items]="this.disciplinas"
                                bindValue="cdDisciplina" bindLabel="nmDisciplina">
                            </ng-select>
                        </div>
                        <div class="col-6">
                            <label>Série</label>
                            <ng-select formControlName="cdSerie" [items]="this.series" bindValue="cdSerie"
                                bindLabel="nmSerie">
                            </ng-select>
                        </div>

                        <div class="col text-center mt-3">
                            <a (click)="pesquisar.invalid ? null : this.pesquisarAvaliacoes()" class="btn btn-primary">
                                <i class="fas fa-search"></i>
                                Pesquisar
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row" style="padding-left: 10px;" *ngFor="let a of avaliacoes">
        <div class="col-12">
            <div class="card card-correcao" style="margin:10px !important">
                
                <div class="card-header" style="padding-bottom: 7px !important;margin-top: 1px !important;">
                    <div clas="col-12">
                        <div class="col-12">
                            <div class="input-group col-12">
                                <button type="button" class="btn btn-primary">#{{a.cdAvaliacao}}</button>
                                <div class="form-control col-md">
                                    {{a.nmAvaliacao | uppercase}}
                                </div>
                                <div class="col-7"></div>
                                <div class="btn-group" dropdown style="float: right !important">
                                    <button id="button-animated" dropdownToggle type="button"
                                        style="font-size: 13px !important; margin-top: -3px !important;"
                                        class="btn btn-primary dropdown-toggle" aria-controls="dropdown-animated">
                                        Gerar Relatório<span class="caret"></span>
                                    </button>
                                    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                                        aria-labelledby="button-animated">
                                        <li role="menuitem"><a class="dropdown-item" href="{{linkApi}}relatorio/monitoramentoresultado/avaliacao/{{a.cdAvaliacao}}/serie/{{this.pesquisar.controls.cdSerie.value}}/disciplina/{{this.pesquisar.controls.cdDisciplina.value}}">Monitoramento de Resultado</a>
                                        </li>
                                        <li role="menuitem"><a class="dropdown-item" href="{{linkApi}}relatorio/questao/aluno/avaliacao/{{a.cdAvaliacao}}">Dados Gerais da Avaliação</a>
                                        </li>
                                        <li role="menuitem"><a class="dropdown-item" href="{{linkApi}}relatorio/impressaogabarito/avaliacao/{{a.cdAvaliacao}}/serie/{{this.pesquisar.controls.cdSerie.value}}">Imprimir Gabarito Da Avaliação</a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="form-group">
                                <table class="table table-bordered" style="text-align: center;">
                                    <thead class="tableHeader">
                                        <tr>
                                            <th style="font-weight: normal;">Sobre</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{a.nmAvaliacaoTipo}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{a.nmEtapa}} - {{a.nmAreaConhecimento}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{a.nmSegmento}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <table class="table table-bordered" style="text-align: center;">
                                    <thead class="tableHeader">
                                        <tr>
                                            <th style="width: 10px;font-weight: normal;">Disciplina</th>
                                            <th style="width: 10px;font-weight: normal;">Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let x of a.disciplinas">
                                            <td>{{x.nmDisciplina}}</td>
                                            <td>{{x.valor}}</td>
                                        </tr>
                                        <tr *ngIf="a.disciplinas.length == 1">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr *ngIf="a.disciplinas.length == 1">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr *ngIf="a.disciplinas.length == 2">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <table class="table table-bordered" style="text-align: center;">
                                    <thead>
                                        <tr>
                                            <th colspan="2" class="tableHeader"> Dados Complementares</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="font-size: 15px;
                                        font-weight: bold;">Tipo da Prova</td>
                                            <td>{{a.modoAplicacao == 1 ? 'Web' : 'Impressa'}}</td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 15px;
                                        font-weight: bold;">Tempo de duração <span style="color: dimgray;"
                                                    class="fas fa-hourglass-half"></span></td>
                                            <td>{{a.tempoAvaliacao}} min</td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 15px;
                                        font-weight: bold;">Valor da Prova</td>
                                            <td>{{a.valor}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>