a {
    cursor: pointer;
}

.selected{
    background-color:#a5ff8a !important;
    border: 2pt solid #66ff66 !important;
    transition-duration: 0.4s !important;
}

.card.card-nay {
    .card-header {
        background-color: #5f84d0;
        color: white;
    }
}

.btnOnHover {
    transition-duration: 0.4s !important;
  }
  
.btnOnHover:hover {
    background-color: white !important;
    color: black !important;
  }