<div *ngIf="isLoading" class="overlay d-flex justify-content-center align-items-center">
    <i class="fas fa-2x fa-sync fa-spin"></i>
</div>
<div class="modal-header">
    <h3>Vincular Alunos - {{this.avaliacao?.nmAvaliacao}}</h3>
    <button type="button" class="close pull-right" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form [formGroup]="vincular" (ngSubmit)="confirm()">

    <div class="modal-body">
        <div class="row col-12">
            <h5 class="col-lg-10">Turmas</h5>
            <h6 class="col-lg-2" style="text-align:right">Selecionados:
                {{this.alunosAdicionados.length > 9 ? this.alunosAdicionados.length : "0" + this.alunosAdicionados.length}}
            </h6>
        </div>

        <div class="card card-nay card-tabs">
            <div class="card-header p-0 pt-1">
                <input type="hidden" name="cdTurma" formControlName="cdTurma">
                <ul class="nav nav-tabs ml-1" id="custom-tabs-one-tab" role="tablist">
                    <li class="nav-item" *ngFor="let t of turmas">
                        <a [ngClass]="{ 'active': t.cdTurma === vincular.controls.cdTurma.value }" class="nav-link"
                            (click)="vincular.controls.cdTurma.setValue(t.cdTurma)"
                            role="tab">{{ t.nmTurma | capitalizar }}</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <table class="table table-striped row-border hover"
                                            *ngIf="vincular.controls.cdTurma.value">
                                            <thead>
                                                <tr>
                                                    <th style="width: 10%;text-align: center;"><button type="button"
                                                            (click)="selectAllAlunos()"
                                                            style="background-color: #5f84d0;border-color:#5f84d0;color: azure;transition-duration: 0.4s !important;"
                                                            class="btn btn-sm btnOnHover">Todos</button></th>
                                                    <th style="width: 30%;text-align: center;">Matrícula</th>
                                                    <th style="width: 60%;text-align: center;">Aluno</th>
                                                    <th style="width: 30%;text-align: center;">Avaliação iniciada?</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tableAlunos">
                                                <tr *ngFor="let a of this.alunos; let i = index"
                                                    (click)="addAluno(i, row)" #row>
                                                    <td style="width: 10%;text-align: center;"
                                                        *ngIf="a.cdTurma == vincular.controls.cdTurma.value"></td>
                                                    <td style="width: 30%;text-align: center;"
                                                        *ngIf="a.cdTurma == vincular.controls.cdTurma.value">
                                                        {{ a.matricula | capitalizar }}</td>
                                                    <td style="width: 60%;text-align: center;"
                                                        *ngIf="a.cdTurma == vincular.controls.cdTurma.value">
                                                        {{ a.nome | capitalizar }}</td>
                                                    <td style="width: 10%;text-align: center;"
                                                        *ngIf="a.cdTurma == vincular.controls.cdTurma.value">
                                                        {{ comecouAFazer(a) }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="close()" class="btn btn-secondary">Cancelar</button>
        <button type="submit" class="btn btn-primary"><span class="fas fa-link"></span> Vincular
        </button>
    </div>
</form>