<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Central de Vídeos</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Principal</a></li>
                    <li class="breadcrumb-item active">{{ titTela }}</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<div class="content">
    <div class="container-fluid">
        <form [formGroup]="cadastroVideo" (ngSubmit)="Salvar(cadastroVideo.value)">
            <input type="hidden" name="cdVideo" formControlName="cdVideo" />
            <input type="hidden" name="cdEmpresa" formControlName="cdEmpresa" />

            <div class="row">
                <div class="col-12">
                    <div class="card card-daniel">
                        <div class="card-header"><i class="fas fa-edit"></i> Dados</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="cdSerie">Série</label>
                                        <ng-select formControlName="cdSerie" [items]="series" bindValue="cdSerie"
                                            bindLabel="nmSerie">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="col-form-label" for="ano">Ano</label>
                                    <input type="text" class="form-control" formControlName="ano"
                                        placeholder="Digite o ano aqui" />
                                </div>
                                <div class="col-12 col-lg-5">
                                    <label class="col-form-label" for="cdOrigem">Origem</label>
                                    <ng-select formControlName="cdOrigem" [items]="origens" bindValue="cdOrigem"
                                        bindLabel="nmOrigem">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="col-form-label" for="cdAreaConhecimento">Area de
                                                Conhecimento</label>
                                            <ng-select formControlName="cdAreaConhecimento" [items]="areasConhecimento"
                                                bindValue="cdAreaConhecimento" bindLabel="nmAreaConhecimento">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="col-form-label" for="cdDisciplina">Disciplina</label>
                                            <ng-select formControlName="cdDisciplina" [items]="disciplinas"
                                                bindValue="cdDisciplina" bindLabel="nmDisciplina">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="col-form-label" for="cdProfessor">Professor</label>
                                            <ng-select formControlName="cdProfessorResponsavel" [items]="professores"
                                                bindValue="cdProfessor" bindLabel="nmProfessor">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="cdTopico">Tópico</label>
                                        <ng-select formControlName="cdTopico" [multiple]="true" [items]="topicos"
                                            bindValue="cdTopico" bindLabel="nmTopico">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="cdSubTopico">Sub Tópico</label>
                                        <ng-select formControlName="cdSubTopico" [multiple]="true" [items]="subTopicos"
                                            bindValue="cdSubTopico" bindLabel="nmSubTopico">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-9">
                                    <label class="col-form-label" for="comentario">Comentário Geral</label>
                                    <textarea type="text" class="form-control" formControlName="comentario"
                                        placeholder="Digite o comentário aqui"
                                        style="font-size: 1em !important;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-daniel">
                        <div class="card-header"><i class="fas fa-play-circle"></i> Vídeo</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <label class="col-form-label" for="linkVideo">Url do Vídeo</label>
                                    <input type="text" class="form-control" formControlName="linkVideo"
                                        placeholder="Cole a url do vídeo aqui" (input)="makeUrl()" />
                                    <p style="margin-left: 2%;color: gray;">{{link}}</p>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <label class="col-form-label" for="titulo">Título</label>
                                    <input type="text" class="form-control" formControlName="titulo"
                                        placeholder="Título do vídeo" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 offset-3 col-lg-9 mt-3">
                                    <iframe [src]="link | safeUrl" class="ifram" width="640" height="360"
                                        frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 text-center">
                  <button type="submit" [disabled]="isSaving" class="btn btn-primary">
                    {{ isSaving ? "..." : "Salvar" }}
                  </button>
                </div>
              </div>
        </form>
    </div>
</div>