<p>Home</p>
<!-- <div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Indicadores</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Indicadores</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title"></h3>
                            <a href="javascript:void(0);"></a>
                        </div>
                    </div>
                    <div class="card-body " style="height:340px">
                        <div class="d-flex">
                            <p class="d-flex flex-column">
                                <span class="text-bold text-lg"></span>
                                <span></span>
                            </p>
                            <p class="ml-auto d-flex flex-column text-right">
                                <span class="text-success">
                                </span>
                                <span class="text-muted"></span>
                            </p>
                        </div>

                        <div class="position-relative mb-4">
                            
                        </div>

                        <div class="d-flex flex-row justify-content-end">
                            <span class="mr-2">
                            </span>

                            <span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="card-title"></h3>
                        <div class="card-tools">
                            <a href="#" class="btn btn-tool btn-sm">
                            </a>
                            <a href="#" class="btn btn-tool btn-sm">
                            </a>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0" style="height:340px">
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title"></h3>
                            <a href="javascript:void(0);"></a>
                        </div>
                    </div>
                    <div class="card-body" style="height:340px">
                        <div class="d-flex">
                            <p class="d-flex flex-column">
                                <span class="text-bold text-lg"></span>
                                <span></span>
                            </p>
                            <p class="ml-auto d-flex flex-column text-right">
                                <span class="text-success">
                                </span>
                                <span class="text-muted"></span>
                            </p>
                        </div>

                        <div class="position-relative mb-4">
                        
                        </div>

                        <div class="d-flex flex-row justify-content-end">
                            <span class="mr-2">
                            </span>

                            <span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="card-title"></h3>
                        <div class="card-tools">
                            <a href="#" class="btn btn-sm btn-tool">
                            </a>
                            <a href="#" class="btn btn-sm btn-tool">
                            </a>
                        </div>
                    </div>
                    <div class="card-body" style="height:340px">
                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->