<div *ngIf="isLoading" class="overlay d-flex justify-content-center align-items-center">
    <i class="fas fa-2x fa-sync fa-spin"></i>
</div>
<div class="modal-header">

    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div id="conteudoInterno">
    <div id="avaliacao">
        <h1>
            <img src="assets/dist/img/logo.png" alt="">
        </h1>
        <div style="background-color: #ff8b43; height: 45px;">
            <div style="margin: auto; text-align: center;">
                <h5 style="color: white;height: 45px;padding-top: 10px;font-size: auto;">{{avaliacaoModel?.nmEtapa}} -
                    {{avaliacaoModel?.nmAreaConhecimento}} - {{avaliacaoModel?.nmSegmento}}</h5>
            </div>
        </div>
        <div style="margin:20px; margin-bottom: 0;">
            <span style="display:inline-block;width: 70%;margin-bottom: 8px;"><b>{{avaliacaoModel?.nmAvaliacaoTipo}}</b>
                -
                {{avaliacaoModel?.nmAvaliacao}}</span>
            <span style="display:inline-block;width: 30%;margin-bottom: 8px;"><b>CRITÉRIO</b> -
                {{avaliacaoModel?.dsCriterio}}</span>
            <span style="display:inline-block;width: 70%;margin-bottom: 8px;">A AVALIAÇÃO DEVERÁ SER RESPONDIDA EM
                <b> {{avaliacaoModel?.tempoAvaliacao}}</b> MINUTOS</span>
            <span style="display:inline-block;width: 30%;margin-bottom: 8px;"> <b> DATA DA
                    APLICAÇÃO</b> - {{avaliacaoModel?.dtFimAvaliacao | date: 'dd/MM/yyyy'}}</span>
            <!-- <span style="display:inline-block;width: 40%;margin-bottom: 8px;"> <b> DISCIPLINAS </b> -
                {{avaliacaoModel?.disciplinas}}</span> -->
        </div>
        <div style="background-color: #e3e3e3; height: 22.5px;"></div>
        <div style="margin: 20px; margin-top: 0;">
            <div class="row mt-2">
                <div class="col-8">
                    <div class="ck-content" [innerHtml]="avaliacaoModel?.regras | safeHtml">
                    </div>
                </div>
                <div class="col-4 table-responsive">
                    <table class="table table-bordered" style="text-align: right;">
                        <thead>
                            <tr>
                                <th class="text-left" scope="col">Disciplinas</th>
                                <th scope="col">Valor</th>
                                <th scope="col">Média</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let v of valores">
                                <td class="text-left">{{ v.nmDisciplina | capitalizar }}</td>
                                <th scope="row">{{v.valor | number:'1.2-3' }}</th>
                                <th scope="row">{{v.media | number:'1.2-3' }}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--
            <span style="display:inline-block;width: 40%;">VALOR:
                PONTOS</span>
            <span style="display:inline-block;width: 20%;">MÉDIA: </span> -->
        </div>
    </div>
    <div style="background-color: #e3e3e3; height: 22.5px;"></div>
    <div class="modal-body">
        <app-questao-view *ngFor="let q of avaliacaoModel?.AvaliacaoQuestaoModel" [vlQuestao]="q.valor"
            [nrQuestao]="q.ordem" [questao]="q.QuestaoModel" [alternativas]="q.QuestaoModel?.Alternativas">
        </app-questao-view>
    </div>
</div>
