<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cadastro de Produtos</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Principal</a></li>
                    <li class="breadcrumb-item active">Produtos</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<div class="content">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body"> -->
        <!-- Caso for fazer uma pesquisa usar código abaixo -->
        <!-- <form [formGroup]="pesquisar">
                            <div class="row">
                                <label class="col-auto ml-5 text-right">Pesquisar por</label>
                                <div class="col-2">
                                    <select id="PesquisarPor" class="form-control" name="tipo" formControlName="tipo">
                                        <option value="1">Código</option>
                                        <option value="2">Nome</option>
                                        <option value="3">Valor</option>
                                    </select>
                                </div>
                                <div class="col-5">
                                    <input [type]="pesquisar.controls.tipo.value == 1 ? 'number' : 'text'" id="pesquisa"
                                        class="form-control" name="text" formControlName="text"
                                        placeholder="Digite sua pesquisa aqui">
                                </div>
                                <div class="col-auto text-center">
                                    <button type="submit" class="btn btn-primary mr-2" [disabled]="pesquisar.invalid">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form> -->
        <!-- </div>
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12 mb-3">

                            <a [routerLink]="['/produto/0']" class="btn col-2 offset-10 btn-primary">
                                <i class="fas fa-plus"></i>
                                Novo Produto
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-12 table-responsive">
                                <table class="table table-striped table-bordered table-sm row-border hover table-vertical-align">
                                    <thead>
                                        <tr>
                                            <th style="width: 1px;">Ações</th>
                                            <th style="width: 1px;">Código</th>
                                            <th>Nome</th>
                                            <th>Marca</th>
                                            <th>Descrição</th>
                                            <th style="width: 12%;">Valor Unitário</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let p of produtos; let i = index">
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                                        id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        Ações
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                        <a class="dropdown-item" [routerLink]="['/produto', p.id]">
                                                            <div class="row">
                                                                <div class="col-2 text-center">
                                                                    <i class="fas fa-edit"></i>
                                                                </div>
                                                                <div class="col-10">
                                                                    Editar</div>
                                                            </div>
                                                        </a>
                                                        <a class="dropdown-item" (click)="excluirProduto(p.id)">
                                                            <div class="row">
                                                                <div class="col-2 text-center text-danger">
                                                                    <i class="fas fa-trash"></i>
                                                                </div>
                                                                <div class="col-10">
                                                                    Excluir
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{ p.id }}</td>
                                            <td>{{ p.nome }}</td>
                                            <td>{{ p.marca }}</td>
                                            <td>{{ p.descricao }}</td>
                                            <td>{{ p.valorUnit | currency:'BRL' }}</td>
                                        </tr>
                                        <tr *ngIf="!produtos || produtos.length <= 0">
                                            <td class="text-center" colspan="6">Nenhum registro disponível</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>